@charset "utf-8";
/* 自定义样式 */
#top-navigation {
	padding-left: 14%;
}
.txt-cw {
    width: 100px;
}
.txt-cw2 {
    width: 172px;
}
.sel-cw {
	width: 160px !important;
}
.sel-cw2 {
	width: 100px !important;
}
.sel-list {
    width: 100%;
    float: left;
}

.sel-list li {
    min-width: 100px;
    padding: 5px 8px;
    height: 30px;
    line-height: 30px;
    float: left;
}

.tab-cap {
	line-height: 30px;
	height: 30px;
	text-align: left;
	font-weight: bold;
	padding: 5px 8px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right:1px solid #ddd;
	background: #DDDDDD
}
/* 角色管理 */
.role-nav-l {
    height: auto;
    /* width: 220px; */
    float: left;
}

.ztrh {
    min-height: 455px;
    margin: 10px;
}

.role-nav-r {
    height: auto;
    min-height: 540px;
    float: left;
    border-left: 1px solid #DDDDDD;
}

.role-label {
    text-align: right;
}

.ztree-box {
    min-width: 300px;
    min-height: 100px;
    border: 1px solid #DDDDDD;
}

.role-chk {
    width: 300px;
    height: auto;
    min-height: 50px;
    border: 1px solid #DDDDDD;
}
.role-chk li {
	height: 25px;
	line-height: 25px;
	width: auto;
	float: left;
	margin: 0 5px;
}
.tbl-pd {
    padding: 0px !important;
}
/* 财务指标监控 */
.row-rad {
    /* width: 18%;
    height: 120px; 
    margin-left: 2%; 
    padding: 10px;*/
    border-radius: 10px;
    border: 1px solid #dddddd;
    float: left;
}

.color-box {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 8px;
    box-shadow: 5px 5px 5px #ccc;
}

.colx1 {
    background-color: #ffdf25;
}

.colx2 {
    background-color: #36a9ce;
}

.colx3 {
    background-color: #d0e17d;
}

.colx4 {
    background-color: #ef5aa1;
}

.fcd-data-box {
    width: 60%;
    height: 120px;
    float: left;
    margin-left: 25px;
}

.fcd-data-box label {
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    font-weight: bold;
    font-family: "Microsoft Yahei";
    font-size: 14px;
}

.fcd-data-box span {
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    font-family: "Microsoft Yahei";
    font-size: 14px;
}

#rMenu {
    background: #DDDDDD;
    display: block; 
    top: 299px; 
    left: 156px; 
    visibility: visible; 
    position: absolute;
}

#rMenu li:hover, #rMenu a:hover {
    background: darkslategray;
    color: #ffffff;
}

#rMenu a, #rMenu a:hover {
    text-decoration: none;
}

#rMenu li {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ffffff;
}

#rMenu a {
    display: block;
    padding: 0px 10px;
    font-size: 12px;
}
/*机构管理*/
.text-ow {
	width: 370px;
	margin: 0px;
}
.opt-btn {
	height: 440px;
}
.btn-o {
	margin-top: 62px;
}
.btn-t {
	margin-top: 230px;
}
.dept-ztree {
	min-height: 440px;
	width: 90%;
	padding: 20px;
	background-color: #ddd;
}
.new-dept {
	width: 390px;
	height: 100px;
	border: 1px solid #dddddd;
	margin: 10px;
}
.labt {
	width: auto;
	padding-left: 8px;
	padding-top: 8px;
}
.new-depttree {
	min-height: 200px;
	width: 50%;
	padding: 20px;
	background-color: #ddd;
}
/* 导入xlsx */
.excelName {
	width: auto;
    height: 30px;
    line-height: 30px;
    float: left;
}
/*宏观经济分析*/
.c-greenligh {
	color:#33FF00
}
.c-grl{
	color:#31ac00
}
.tabCon {
	min-height: 100px;
}
.tabBar {
	/* padding: 0 7%; */
	border-bottom: none;
}
.tabBar span {
	/* width: 27%; */
	text-align: center;
}
.dataBox {
	border: 1px solid #ddd;
	border-radius: 10px;
	/* min-height: 100px;
	margin: 13px 2%;
	padding: 10px 30px; */
}
.p-data {
	width: 100%;
	/* height: 30px;
	line-height: 30px; */
}
.p-data span {
	width: 50%;
	/* height: 40px;
	line-height: 40px; */
	text-align: left;
	display: block;
    float: left;
}
.append-table {
	display:none;
}
.plate-hr {
	border-top: 2px solid #31ac00;
}
.tit-i {
	height: 24px;
	width: 3px;
	background-color:red;
	float: left;
	margin: 4px 10px 0 0;
}
.tit-i2 {
	height: 24px;
	width: 3px;
	background-color:red;
	float: left;
	margin: 8px 10px 0 0;
}
.bdbr-d {
	border-bottom: 1px dotted #ddd;
}
/* 多分辨率 */
@media  screen and ( max-width : 768px) {
	/**报表查询**/
	.row-rad {
	    width: 74%;
	    height: 120px; 
	    margin: 5px 0 5px 5%;
	    padding: 10px 30px;
	}
	.append-table {
		width: 98%;
    	overflow-x: auto;
	}
	.tabBar span {
   		width: 24%;
    }
    .dataBox {
    	min-height: 50px;
	    margin: 5px 2.5%;
		padding: 10px 10px;
    }
    .p-data {
		height: 20px;
		line-height: 20px;
	}
	.p-data span {
		height: 20px;
		line-height: 20px;
		font-size: 0.875em;
	}
	.tit-fz {
		font-size: 16px;
	}
	.sel-list li {
		font-size: 10px;
	}
}
@media screen and (min-width:320px) {  
    .tabBar span {
    width: 22%;
    }
    .p-data span {
		height: 20px;
		line-height: 20px;
		font-size:10px;
	}
	.table thead th {
	    font-size: 5px;
	}
}
@media screen and (min-width:360px) { 
	.table thead th {
	    font-size: 6px;
	}
}  
@media screen and (min-width:411px) {  
    .tabBar span {
    width: 24%;
    }
    .p-data span {
		height: 20px;
		line-height: 20px;
		font-size:11px;
	}  
}
@media screen and (min-width:420px) {  
    .tabBar span {
    width: 27%;
    }
}

@media screen and ( min-width : 767px) {
	.container {width: 750px}
	.row-rad {
	    width: 85%;
	    height: 120px; 
	    margin: 5px 0 5px 2%;
	    padding: 10px;
	}
	.append-table {
		width: 98%;
    	overflow-x: auto;
	}
	.tabBar span {
   		width: 27%;
    }
    .dataBox {
		min-height: 100px;
		margin: 13px 2%;
		padding: 10px 30px;
	}
	.p-data {
		height: 40px;
		line-height: 40px;
	}
	.p-data span {
		height: 40px;
		line-height: 40px;
		font-size:14px;
	}
	.tit-fz {
		font-size: 18px;
	}
	.table thead th {
	    font-size: 14px;
	}
}
@media  screen and ( min-width : 992px) {
	.container {width: 970px}
	.row-rad {
	    width: 85%;
	    height: 120px; 
	    margin: 5px 0 5px 2%;
	    padding: 10px;
	}
	.append-table {
		width: 98%;
    	overflow-x: auto;
	}
	.tabBar span {
   		width: 27%;
    }
    .tit-fz {
		font-size: 18px;
	}
	.table thead th {
	    font-size: 14px;
	}
}
@media  screen and ( min-width : 1023px) {
	.tabBar span {
   		width: 24.5%;
    }
}
@media  screen and ( min-width : 1200px) {
	.container {width: 1170px}
	.row-rad {
	    width: 75%;
	    height: 120px; 
	    margin-left: 2%;
	    padding: 10px 30px;
	}
	.append-table {
		width: 98%;
    	overflow-x: auto;
	}
	.tabBar span {
		width: 27%;
	}
	.table thead th {
	    font-size: 14px;
	}
}
@media  screen and ( min-width : 1300px) {
	.container {width: 1270px}
	.row-rad {
	    width: 75%;
	    height: 120px; 
	    margin-left: 2%;
	    padding: 10px 30px;
	}
	.tabBar span {
		width: 27%;
	}
	.table thead th {
	    font-size: 14px;
	}
}
@media  screen and ( min-width : 1400px) {
	.container {width: 95%}
	.tabBar span {
		width: 27%;
	}
}
@media  screen and print{
	.container{width:auto}
}